<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sairaiji's Blog</title>
</head>
<body>
    <div>
        <h1><a href="/">Sairaiji's Blog</a></h1>
    </div>

    <div>
        <p>published: 2020.05.01</p>
        <h2><a href="">My First Post</a></h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo suscipit ipsam molestias amet id perspiciatis quae deserunt voluptatum itaque, unde, voluptate, debitis expedita ratione consequatur reprehenderit rem ab ut nostrum?</p>
    </div>

    <div>
        <p>published: 2020.05.23</p>
        <h2><a href="">My Second Post</a></h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad eaque consectetur recusandae quidem. Nesciunt dolores ab beatae distinctio magni, sequi unde eos quisquam debitis libero? Commodi rerum quasi natus inventore.</p>
    </div>
</body>
</html>